!*/
__pycache__
.idea/*
.venv
.ipynb_checkpoints
bkp/*
data/data_*
!data/data_encoding_fix_len_noisy_temp_jitter.pkl
data/label_*
!data/label_encoding_fix_len_noisy_temp_jitter.pkl
!data/loader.py
data/*Hz
data/*.py
data/*.ipynb
data/Activity/Braille_trained_activity/Braille_classification/*
data/Activity/Braille_trained_activity/MNIST_classification/*
data/Activity/GR_Braille/*
data/Activity/GR_MNIST_2Gen/*
data/Activity/GR_MNIST_compressed_2Gen/*
data/Activity/MN_output_Braille/*
data/Activity/MN_Output_MNIST/*
data/Activity/MN_Output_MNIST_c/*
data/Activity/MN_Output_MNIST_c_ERROR/*
data/Activity/MN_Output_MNIST_c_ERROR_2/*
logs/*
NNI/dataset_splits/*
NNI/logs/*
NNI/results/*
plots/*
results/activity_classification/MN_activity/BrailleTrained_activity_classification/*
results/activity_classification/MN_activity/MN_Output_MNIST_c_ERROR/*
results/activity_classification/MN_activity/MN_Output_MNIST_c_ERROR_2/*
!results/activity_classification/MN_activity/BrailleTrained_activity_classification/activity_classification_Braille_20230927_092051
results/layers/optimized/spike_classifier/fix_len_noisy_temp_jitter/experiments_history/*
results/layers/optimized/spike_classifier/fix_len_noisy_temp_jitter/initial_attempts/*
results/plots/activity_classification/MN_activity/BrailleTrained_activity_MN/braille_trained_activity_classifier/character_behaviours/*
results/plots/activity_classification/MN_Output_MNIST_c_ERROR/*
results/plots/activity_classification/MN_Output_MNIST_c_ERROR_2/*
results/plots/classification/Braille/*
results/plots/classification/original_input_activity_MN/with_Braille-optimized_parameters_v0/*
results/plots/optimized/*
runs/*
TAC_RSNN/*