data
runs
__pycache__
.idea/
.venv
experiments/

tactile_venv/

lib/

bin/

*.cfg

dataset_analysis/

dataset_analysis_hb/

dataset_analysis_hb_100bins/

dataset_analysis_hb_nogain/

Figures/

MN_output/

runs_old/

stimuli/

params_training/

*.npy

*.pkl

*.zip

*.pickle
