__pycache__
data/*
plots/*
results/layers/optimized/spike_classifier/fix_len_noisy_temp_jitter/experiments_history/*
results/layers/optimized/spike_classifier/fix_len_noisy_temp_jitter/initial_attempts/*
results/plots/*
logs/*
bkp/*
runs
.idea/
.venv
.ipynb_checkpoints
NNI/dataset_splits/fix_len/*
NNI/results/*
TAC_RSNN/*